<article class="contact {{parentContact}}">
    <span class="contact__logo subtitle-md">Your logo</span>
    <p class="contact__desc">We earned a reputation of being good at what we do. Let us take your online shop to new dimension in success!</p>
    <address class="contact__address">Comilla, Bangladesh 3500</address>
    <a href="mailto:kawsarahmed0210@gmail.com" class="contact__link">kawsarahmed0210@gmail.com</a>
    <a href="tel:01647470457" class="contact__link">01647470457</a>
    {{> ../social/social}}
</article>
