<section class="spotlight container {{parentSpotlight}}">
    <h2 class="spotlight__title subtitle-sm-bold">AVONE STYLES</h2>
    <p class="spotlight__desc">Choose Your Favorite Color</p>
    <div class="spotlight__content">
        <img src="../../../images/spotlight_1.jpg" alt="" class="spotlight__item spotlight__media">
        <img src="../../../images/category_3.jpg" alt="" class="spotlight__item spotlight__media">
        <img src="../../../images/highlights_1.jpg" alt="" class="spotlight__item spotlight__media">
        <a href="#dress" class="spotlight__item link-underlined-upcase">SHOW WOMEN’S DRESS</a>
    </div>
</section>
