<section class="highlights container {{parentHighlights}}">
    <h2>Women's fashion</h2>
    <p>Shop our new arrivals from established brands</p>
    <div class="highlights__content">
        {{#repeat 4}}
        <article class="highlights__item">
            <img src="../../../images/highlights_1.jpg" class="highlights__media" alt="">
            <span class="highlights__label">IGURE</span>
            <strong class="highlights__title" title="GREEN MUSCLE FIT POLO SHIRT">GREEN MUSCLE FIT POLO SHIRT</strong>
            <p>
                <span class="highlights__price--old">$229.00</span>
                <span class="highlights__price--sale">$129.00</span>
            </p>
        </article>
        {{/repeat}}
    </div>
</section>
