<menu class="menu js-menu {{parentMenu}}">
    <button class="menu__collapse js-menu-button">
        <span class="visually-hidden">Open the menu</span>
        <svg class="menu__icon icon"><use xlink:href="#menu"></use></svg>
    </button>
    <ul class="menu__list hidden js-menu-list">
        <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Shop</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Lookbook</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Features</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Pages</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
    </ul>
</menu>
