@import "functions";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-base);
    font-size: $fsz-15;
    font-weight: var(--fw-regular);
    line-height: f-unitless-lh(15, 22);
    color: var(--gray-800);
}

a {
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}
