@import "functions";

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin list-unstyled($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
    list-style: none;
}

@mixin btn-base($color:var(--white), $bgc:var(--gray-800)) {
    @extend %size-18;
    display: inline-block;
    padding: rem-calc(5) rem-calc(28);
    font-weight: var(--fw-medium);
    color: $color;
    text-transform: uppercase;
    background-color: $bgc;
    border: none;
    border-radius: 0;
    transition: var(--transition-base);
    &:hover,
    &:focus {
        color: $bgc;
        background-color: $color;
        outline: none;
    }
}
