/* Extends */
%flex-base {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.show {
    display: block;
    transition: var(--transition-base);
}

.hidden {
    display: none;
    transition: var(--transition-base);
}

.icon {
    max-width: rem-calc(18);
    max-height: rem-calc(18);
    color: currentColor;
}

.container {
    width: 100%;
    max-width: rem-calc(1138);
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
        padding: 0 rem-calc(10);
    }
}

.subtitle-lg {
    font-size: $fsz-28;
    font-weight: var(--fw-bold);
    line-height: unitless-lh(28, 42);
    text-transform: uppercase;
}

.subtitle-md {
    font-size: $fsz-25;
    font-weight: var(--fw-bold);
    line-height: unitless-lh(25, 38);
    text-transform: uppercase;
}

.subtitle-sm {
    font-size: $fsz-20;
    font-weight: var(--fw-semibold);
    line-height: unitless-lh(20, 30);
    text-transform: uppercase;
}
