<section class="category container {{parentCategory}}">
    <h2 class="visually-hidden">Category</h2>
    <article class="category__item category__item--full-width">
        <img src="../../../images/category_1.jpg" alt="Category name 1" class="category__media">
        <p class="category__name">
            <a href="#" class="category__btn btn-accent">Category name 1</a>
        </p>
    </article>
    <article class="category__item">
        <img src="../../../images/category_2.jpg" alt="Category name 2" class="category__media">
        <p class="category__name">
            <a href="#" class="category__btn btn-accent">Category name 2</a>
        </p>
    </article>
    <article class="category__item">
        <img src="../../../images/category_3.jpg" alt="Category name 3" class="category__media">
        <p class="category__name">
            <a href="#" class="category__btn btn-accent">Category name 3</a>
        </p>
    </article>
    <article class="category__item category__item--visible category__item--full-height">
        <img src="../../../images/category_4.jpg" alt="Category name 4" class="category__media">
        <p class="category__name">
            <a href="#" class="category__btn btn-accent">Category name 4</a>
        </p>
    </article>
</section>
