<ul class="user-action">
    <li class="user-action__item">
        <button class="user-action__button">
            <span class="visually-hidden">Open search bar</span>
            <svg class="icon"><use xlink:href="#search"></use></svg>
        </button>
    </li>
    <li class="user-action__item">
        <a href="#favorite" class="user-action__button">
            <span class="visually-hidden">Go to your favorites</span>
            <svg class="icon"><use xlink:href="#favorite"></use></svg>
        </a>
    </li>
    <li class="user-action__item">
        <a href="#cart" class="user-action__button">
            <span class="visually-hidden">Open your cart</span>
            <svg class="icon"><use xlink:href="#cart"></use></svg>
        </a>
    </li>
</ul>
